/* header.css */
.header {
  display: flex;
  overflow: hidden;

}

/* Style the header links */
.header a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


.header-right {
  display: flex; /* Use flexbox for alignment */
  float: right;
  align-items: center; /* Align items vertically */
  margin-left: auto;
}

.header-right :hover{
  text-decoration: wavy;
}
